body {
    max-width: 1500px;
    margin: auto;
}

.pattern {
    background-image: url(pattern.png);
    background-color: rgb(78    , 160, 255);
    background-size: contain;
    height: 100px;
}


#written {
    color: rgb(112, 200, 238 );
}

.photo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 9px;
}

.evidenzia{
    background-color: yellow;
}